@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.table-container {
    margin: 5px;
    height: 88vh;
    /* width: 88vw; */
    border: 25px solid rgb(50, 37, 23);
    border-radius: 55%;
    background-color: rgb(126, 201, 126);
    /* background-color: rgb(17, 148, 17); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:fixed;
    top: 45%; */
    /* z-index: -1; */
}

.table-and-pot {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     grid-column: 2/3;
     grid-row: 2/3;
}

.table-and-players .table p {
    font-family: 'Sacramento', cursive;
    color: #111;   
    
}

.table-and-players .table .card .flipped .front {
    font-size: 90px;
}