* {
  margin: 0;
}


.App {
  /* max-width: 860px; */
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.App h3 {
  margin-bottom: .5em;
}
button {
  background: hsl(283, 91%, 23%);
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 9px;
  color: rgb(185, 184, 184);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: hsl(283, 91%, 43%);
  color: rgb(216, 216, 216);
}
.table {
  font-size: 100px;
  margin: 10px;
  background-color: rgb(172, 235, 200);
  border-radius: 25px;
  padding: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.player1, .player2 {
  display: flex;
  align-items: center;
}
.player-details {
  font-size: medium;
  display: flex;
  margin: 1em;
  
}

.deck-container {
  font-size: 80px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.table-and-players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90vw;
}
.table-and-players .card {
  font-size: 110px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}