* {
  margin: 0;
}


.App {
  /* max-width: 860px; */
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: small;
}

button {
  background: black;
  border: none;
  margin-bottom: 0.8rem;
  border-radius: 9px;
  color: rgb(185, 184, 184);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: hsl(283, 91%, 43%);
  color: rgb(216, 216, 216);
}
.table {
  font-size: 100px;
  margin: 10px;
  width: 35rem;
  max-width: 60vw;
  height: 140px;
  /* position: relative; */
  /* background-color: rgb(172, 235, 200); */
  background-color: rgb(216, 213, 213);
  border-radius: 25px;
  padding: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  /* gap: 20px; */
}
.table p {
  font-size: 2rem;
  font-weight: 500;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.table .logo p {
  color: pink;
}

.name-and-stack {
  display: flex;
  justify-content: space-around;
  align-items:
}
.name-and-stack .name {
  text-decoration: underline;
}
#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* margin: 10px; */
  background-color: rgba(255, 255, 255, 0.353);
  padding: 0.2rem;
  height: 13.5rem;
  width: 11.5rem;
  border-radius: 12px; 
}
#player\ folded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* margin: 10px; */
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.753);
  padding: 0.2rem;
  height: 13.5rem;
  width: 11.5rem;
  border-radius: 12px; 
}

.andy {
  grid-column: 2/3;
}
.rory {
  grid-column: 3/4;
  grid-row: 2/3;
}
.fred {
  grid-column: 2/3;
  grid-row: 3/4;
}
.carlo {
  grid-row: 2/3;
}

.cards {
  display: flex;
}

.deck-container {
  font-size: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position:absolute;
}
.deck-container button {
  font-size: xx-small;
  background-color: rgb(210, 61, 210);
  color: black;
  border: none;
  position: fixed;
  left: 1rem;
  top: 5rem; 
}
.deck-container {
  background-color: rgba(255, 255, 255, 0.764);
}

.table-and-players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 1.2fr 1.2fr;
  /* grid-row-gap: 1em; */
  /* grid-template-rows: min-content 1fr min-content; */
  /* row-gap: 3rem; */
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  flex-direction: column;
}
.table-and-players .card {
  font-size: 110px;
}
.table-and-players .pot {
  background-color: rgba(255, 255, 255, 0.363);
  padding: 8px;
  border-radius: 12px;
  font-size: large;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: xx-small;
  bottom: 3vh;
  left: 1rem;
}
.buttons .stage-change button {
  background-color: green;
  margin-bottom: 1.6rem;
  margin-top: 0.3rem;
  height: 2.3rem;
  justify-self: flex-start;
}
.buttons button {
  background-color: red;
  height: 1.3rem;
}


.burnt-cont {
  display: flex;

}
.burnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin-left: 20px;
}
