.card {
    position:relative;
    display: inline;
}

.card div p {
    font-size: 5.5rem;
    width: 100%;
}
/* card back (unflipped) */
.card .flipped .back {
    color: rgb(137, 61, 236);
}


.card div .cardback {
    /* color: rgb(251, 124, 211); */
}

.card .front {
    color: black;
}
.card .flipped .front {
    color: black;
}

.card .front.red, .front {
    color: rgb(209, 49, 63);
    /* transform: rotateY(90deg);  */
    /* position: absolute; */
}
